<section class="py-5">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-12">
        <div
          class="card shadow-card swing-in-top-fwd"
          style="border-radius: 1rem"
        >
          <div class="card-body p-4 p-lg-5 text-black">
            <div class="d-flex align-items-center mb-3 pb-1">
              <span class="h1 fw-bold mb-0">Mój profil</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
